[submodule "src/third_party/happly"]
	path = src/third_party/happly
	url = https://github.com/nmwsharp/happly.git
[submodule "src/third_party/DRAMsim3"]
	path = src/third_party/DRAMsim3
	url = https://github.com/umd-memsys/DRAMsim3.git
[submodule "src/third_party/bvh"]
	path = src/third_party/bvh
	url = https://github.com/lashhw/bvh.git
	branch = rtcore-systemc
